#follow-list{
  position: fixed;
  width: 375px;
  height: 500px;
  margin-left: auto;
  margin-top: auto;
  background-color: #fff;
  border-radius: 12px;
  border: solid 2px #D9D9D9;
  z-index: 1;
  .list{
    &-header{
      align-items: center;
      height: 10%;
      border-bottom: 2px solid $MAIN_YELLOW;
      padding: 12px;
      &__title{
        width: 40%;
        font-size: (16px);
        & > span {
          margin-left: 8px;
        }
      }
      &__input-box{
        position: relative;
        width: 60%;
        & > img {
          position: absolute;
          left: (4px);
          top: (3px);
          width: 24px;
          height: 24px;
        }
        & > input{
          padding-left: 30px;
          padding-right: 30px;
          width: 200px;
          height: 30px;
          border-radius: 12px;
          border: solid 2px $MAIN_YELLOW
        }
      }
    }
    &-body{
      height: 80%;
      overflow-y: scroll;
    }
    &-footer{
      border-top: solid 2px $MAIN_YELLOW;
      align-items: center;
      justify-content: center;
      height: 10%;
      & > button {
        background-color: $MAIN_YELLOW;
        width: 100px;
        height: 32px;
        border-radius: 12px;
      }
    }
  }
  #follow-item{
    height: 20%;
  }
}

@media screen and (max-width: $PHONE-VW) {
  #follow-list{
    position: fixed;
    width: vw-p(375px);
    height: vw-p(400px);
    margin-left: auto;
    margin-top: auto;
    background-color: #fff;
    border-radius: vw-p(12px);
    border: solid 2px #D9D9D9;
    z-index: 1;
    .list{
      &-header{
        align-items: center;
        height: 15%;
        border-bottom: 2px solid $MAIN_YELLOW;
        padding: vw-p(12px);
        &__title{
          width: 40%;
          font-size: vw-p(16px);
          & > span {
            margin-left: vw-p(8px);
          }
        }
        &__input-box{
          position: relative;
          width: 60%;
          & > img {
            position: absolute;
            left: (4px);
            top: (3px);
            width: vw-p(24px);
            height: vw-p(24px);
          }
          & > input{
            padding-left: vw-p(30px);
            padding-right: vw-p(30px);
            width: vw-p(200px);
            height: vw-p(30px);
            border-radius: vw-p(12px);
            border: solid 2px $MAIN_YELLOW
          }
        }
      }
      &-body{
        height: 70%;
      }
      &-footer{
        border-top: solid 2px $MAIN_YELLOW;
        align-items: center;
        justify-content: center;
        height: 15%;
        & > button {
          background-color: $MAIN_YELLOW;
          width: vw-p(100px);
          height: vw-p(32px);
          border-radius: vw-p(12px);
        }
      }
    }
    #follow-item{
      height: 20%;
    }
  }
}