#deal-edit {
  .err {
    color: red;
  }
  .black {
    color: black;
  }
  .hide {
    visibility: hidden;
  }

  .deal-close {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    :hover {
      border: 1px solid #d9d9d9;
    }
  }
  input[type="file"] {
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
  }

  .deal-header {
    width: (570px);
    padding: (24px);
    &-title {
      font-size: (32px);
      padding: (24px);
      & > span {
        color: $MAIN_YELLOW;
      }
    }
    &-category {
      margin-top: (24px);
      justify-content: space-evenly;
      padding: (24px);
      position: relative;
      border-top: 4px solid #d9d9d9;
      &:hover {
        border-top: 4px solid $MAIN_YELLOW;
        & > p {
          color: $MAIN_YELLOW;
        }
      }
      .category-label {
        background-color: #fff;
        position: absolute;
        color: black;
        font-size: (16px);
        top: (-28px);
        left: (80px);
        padding: (12px);
      }
      &-box {
        margin: (24px) 0px (24px) 0px;
        width: 100%;
        flex-wrap: wrap;
        gap: (12px);
        justify-content: center;
        & .button-active {
          background-color: $MAIN_YELLOW;
        }
        & > button {
          border-radius: (12px);
          width: (100px);
          height: (32px);
          font-size: (12px);
          background-color: #d9d9d9;
        }
      }
    }
    &-area {
      margin-top: (24px);
      margin-bottom: (24px);
      border-top: solid 4px #d9d9d9;
      position: relative;
      &:hover {
        border-top: 4px solid $MAIN_YELLOW;
        & > p {
          color: $MAIN_YELLOW;
        }
      }
      &_label {
        position: absolute;
        background-color: #fff;
        color: black;
        font-size: (16px);
        top: (-28px);
        left: (80px);
        padding: (12px);
      }
      &-info {
        margin-top: (24px);
        padding: (24px);
        justify-content: space-evenly;
        align-items: center;
        &_text {
          width: 70%;
          text-align: center;
          font-size: (12px);
          border: 1px solid #d9d9d9;
          border-radius: (12px);
          padding-left: (12px);
          padding-right: (12px);
        }
        &_button {
          width: (80px);
          background-color: $MAIN_YELLOW;
          height: (24px);
          border-radius: (8px);
        }
      }
      &_desc {
        align-items: center;
        font-size: (12px);
        & > span {
          color: #666;
          margin-bottom: (12px);
        }
      }
    }
    &-preview {
      margin-top: (12px);
      position: relative;
      .deal-close {
        position: absolute;
        bottom: (-8px);
      }
      &_container {
        padding: (24px);
        position: relative;
        width: (570px);
        border-top: 4px solid #d9d9d9;
        &:hover {
          border-top: 4px solid $MAIN_YELLOW;
          & > p {
            color: $MAIN_YELLOW;
          }
        }
        & > span {
          font-size: (12px);
          color: #666;
          margin-top: (12px);
        }
        & > img {
          z-index: 1;
          border-radius: (12px);
        }
        &-title {
          color: black;
          font-size: (16px);
          top: (-28px);
          left: (80px);
          position: absolute;
          background-color: #fff;
          padding: (12px);
        }
      }
      &_img {
        width: (200px);
        height: (200px);
        margin-top: (24px);
        &-img {
          width: (200px);
          height: (200px);
          border-radius: (12px);
        }
      }
    }
  }
  .deal-title {
    margin-top: (40px);
    width: (522px);
    height: (60px);
    font-size: (24px);
    padding: (24px);
    border-bottom: 1px solid #d9d9d9;
    outline: none;
    box-shadow: none;
    &:focus {
      border-bottom: 1px solid $MAIN_YELLOW;
    }
  }
  .deal-content {
    position: relative;
    border-top: 4px solid #d9d9d9;
    width: (522px);
    & > p {
      position: absolute;
      color: black;
      font-size: (16px);
      padding: (12px);
      top: (-28px);
      left: (80px);
      background-color: #fff;
    }
    & > span {
      display: inline-block;
      width: 100%;
      font-size: (12px);
      color: red;
      padding: (24px);
      position: absolute;
      top: (92px);
    }
    &:hover {
      border-top: 4px solid $MAIN_YELLOW;
      & > p {
        color: $MAIN_YELLOW;
      }
    }
  }
  .send {
    margin-top: (40px);
    margin-bottom: (100px);
    justify-content: space-evenly;
    width: (570px);
    & > button {
      height: (40px);
      width: (100px);
      font-size: (16px);
      background-color: $MAIN_YELLOW;
      border-radius: (12px);
    }
    .cancle {
      background-color: #d9d9d9;
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  #deal-edit {
    .deal-header {
      width: vw(570px);
      padding: vw(24px);
      &-title {
        font-size: vw(32px);
        padding: vw(24px);
      }
      &-category {
        margin-top: vw(24px);
        padding: vw(24px);
        .category-label {
          font-size: vw(16px);
          top: vw(-28px);
          left: vw(80px);
          padding: vw(12px);
        }
        &-box {
          margin: vw(24px) 0px vw(24px) 0px;
          width: 100%;
          flex-wrap: wrap;
          gap: vw(12px);
          justify-content: center;
          & > button {
            border-radius: vw(12px);
            width: vw(100px);
            height: vw(32px);
            font-size: vw(10px);
            background-color: #d9d9d9;
          }
        }
      }
      &-area {
        margin-top: vw(24px);
        margin-bottom: vw(24px);
        border-top: solid 4px #d9d9d9;
        position: relative;
        &:hover {
          border-top: 4px solid $MAIN_YELLOW;
          & > p {
            color: $MAIN_YELLOW;
          }
        }
        &_label {
          position: absolute;
          background-color: #fff;
          color: black;
          font-size: vw(16px);
          top: vw(-28px);
          left: vw(80px);
          padding: vw(12px);
        }
        &-info {
          margin-top: vw(24px);
          padding: vw(24px);
          justify-content: space-evenly;
          align-items: center;
          &_text {
            width: 70%;
            text-align: center;
            font-size: vw(12px);
            border: 1px solid #d9d9d9;
            border-radius: vw(12px);
            padding-left: vw(12px);
            padding-right: vw(12px);
          }
          &_button {
            width: vw(80px);
            background-color: $MAIN_YELLOW;
            height: vw(24px);
            border-radius: vw(8px);
            font-size: vw(12px);
          }
        }
        &_desc {
          align-items: center;
          font-size: vw(12px);
          & > span {
            color: #666;
            margin-bottom: vw(12px);
          }
        }
      }
      &-preview {
        margin-top: vw(12px);
        position: relative;
        .deal-close {
          position: absolute;
          bottom: vw(-8px);
        }
        &_container {
          width: vw(570px);
          padding: vw(24px);
          & > span {
            font-size: vw(12px);
            margin-top: vw(12px);
          }
          & > img {
            z-index: 1;
            border-radius: vw(12px);
          }
          &-title {
            font-size: vw(16px);
            top: vw(-28px);
            left: vw(80px);
            padding: vw(12px);
          }
        }
        &_img {
          width: vw(200px);
          height: vw(200px);
          margin-top: vw(24px);
          &-img {
            width: vw(200px);
            height: vw(200px);
            border-radius: vw(12px);
          }
        }
      }
    }
    .deal-title {
      margin-top: vw(40px);
      width: vw(522px);
      height: vw(60px);
      font-size: vw(24px);
      padding: vw(24px);
    }
    .deal-content {
      width: vw(522px);
      & > p {
        font-size: vw(16px);
        padding: vw(12px);
        top: vw(-28px);
        left: vw(80px);
      }
      & > span {
        width: 100%;
        font-size: vw(12px);
        padding: vw(24px);
        top: vw(92px);
      }
    }
    .send {
      margin-top: vw(40px);
      margin-bottom: vw(100px);
      width: vw(570px);
      & > button {
        height: vw(40px);
        width: vw(100px);
        font-size: vw(16px);
        border-radius: vw(12px);
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  #deal-edit {
    .deal-header {
      width: vw-t(468px);
      padding: vw-t(24px);
      &-title {
        font-size: vw-t(32px);
        padding: vw-t(24px);
      }
      &-category {
        margin-top: vw-t(24px);
        padding: vw-t(24px) 0px vw-t(24px) 0px;
        .category-label {
          font-size: vw-t(16px);
          top: vw-t(-28px);
          left: vw-t(80px);
          padding: vw-t(12px) 0px vw-t(12px) 0px;
        }
        &-box {
          margin: vw-t(24px) 0px vw-t(24px) 0px;
          width: 100%;
          flex-wrap: wrap;
          gap: vw-t(8px);
          justify-content: center;
          & > button {
            border-radius: vw-t(12px);
            width: vw-t(96px);
            height: vw-t(32px);
            font-size: vw-t(12px);
            background-color: #d9d9d9;
          }
        }
      }
      &-area {
        margin-top: vw-t(24px);
        margin-bottom: vw-t(24px);
        border-top: solid 4px #d9d9d9;
        position: relative;
        &:hover {
          border-top: 4px solid $MAIN_YELLOW;
          & > p {
            color: $MAIN_YELLOW;
          }
        }
        &_label {
          position: absolute;
          background-color: #fff;
          color: black;
          font-size: vw-t(16px);
          top: vw-t(-28px);
          left: vw-t(80px);
          padding: vw-t(12px);
        }
        &-info {
          margin-top: vw-t(24px);
          padding: vw-t(24px);
          justify-content: space-evenly;
          align-items: center;
          &_text {
            width: 70%;
            text-align: center;
            font-size: vw-t(12px);
            border: 1px solid #d9d9d9;
            border-radius: vw-t(12px);
            padding-left: vw-t(12px);
            padding-right: vw-t(12px);
          }
          &_button {
            width: vw-t(80px);
            background-color: $MAIN_YELLOW;
            height: vw-t(24px);
            border-radius: vw-t(8px);
            font-size: vw-t(12px);
          }
        }
        &_desc {
          align-items: center;
          font-size: vw-t(12px);
          & > span {
            color: #666;
            margin-bottom: vw-t(12px);
          }
        }
      }
      &-preview {
        margin-top: vw-t(12px);
        .deal-close {
          bottom: vw-t(-10px);
        }
        &_container {
          width: vw-t(468px);
          padding: vw-t(24px);
          & > span {
            font-size: vw-t(12px);
            margin-top: vw-t(12px);
          }
          & img {
            z-index: 1;
            border-radius: vw-t(12px);
          }
          &-title {
            font-size: vw-t(16px);
            top: vw-t(-28px);
            left: vw-t(80px);
            padding: vw-t(12px);
          }
        }
        &_img {
          width: vw-t(200px);
          height: vw-t(200px);
          margin-top: vw-t(24px);
          & > img {
            width: vw-t(200px);
            height: vw-t(200px);
            border-radius: vw-t(12px);
          }
        }
      }
    }
    .deal-title {
      margin-top: vw-t(40px);
      width: vw-t(422px);
      height: vw-t(60px);
      font-size: vw-t(24px);
      padding: vw-t(24px);
    }
    .deal-content {
      width: vw-t(422px);
      & > p {
        font-size: vw-t(16px);
        padding: vw-t(12px);
        top: vw-t(-28px);
        left: vw-t(80px);
      }
      & > span {
        width: 100%;
        font-size: vw-t(12px);
        padding: vw-t(24px);
        top: vw-t(92px);
      }
    }
    .send {
      margin-top: vw-t(40px);
      margin-bottom: vw-t(100px);
      width: vw-t(468px);
      & > button {
        height: vw-t(40px);
        width: vw-t(100px);
        font-size: vw-t(16px);
        border-radius: vw-t(12px);
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  #deal-edit {
    & .deal-header {
      width: vw-p(375px);
      &-title {
        font-size: vw-p(32px);
        padding: vw-p(24px);
      }
      &-category {
        margin-top: vw-p(24px);
        padding: vw-p(24px);
        .category-label {
          font-size: vw-p(16px);
          top: vw-p(-28px);
          left: vw-p(124px);
          padding: vw-p(12px);
        }
        &-box {
          margin: vw-p(24px) 0px vw-p(24px) 0px;
          width: 100%;
          flex-wrap: wrap;
          gap: vw-p(8px);
          justify-content: center;
          & > button {
            border-radius: vw-p(12px);
            width: vw-p(68px);
            height: vw-p(32px);
            font-size: vw-p(12px);
            background-color: #d9d9d9;
          }
        }
      }
      &-area {
        margin-top: vw-p(24px);
        margin-bottom: vw-p(24px);
        border-top: solid 4px #d9d9d9;
        position: relative;
        &:hover {
          border-top: 4px solid $MAIN_YELLOW;
          & > p {
            color: $MAIN_YELLOW;
          }
        }
        &_label {
          position: absolute;
          background-color: #fff;
          color: black;
          font-size: vw-p(16px);
          top: vw-p(-28px);
          left: vw-p(124px);
          padding: vw-p(12px);
        }
        &-info {
          margin-top: vw-p(24px);
          padding: vw-p(24px);
          justify-content: space-evenly;
          align-items: center;
          &_text {
            width: 70%;
            text-align: center;
            font-size: vw-p(12px);
            border: 1px solid #d9d9d9;
            border-radius: vw-p(12px);
            padding-left: vw-p(12px);
            padding-right: vw-p(12px);
          }
          &_button {
            width: vw-p(80px);
            background-color: $MAIN_YELLOW;
            height: vw-p(24px);
            border-radius: vw-p(8px);
            font-size: vw-p(12px);
          }
        }
        &_desc {
          align-items: center;
          font-size: vw-p(12px);
          & > span {
            color: #666;
            margin-bottom: vw-p(12px);
          }
        }
      }
      &-preview {
        margin-top: vw-p(12px);
        .deal-close {
          bottom: vw-p(12px);
        }
        &_container {
          width: vw-p(375px);
          padding: vw-p(48px);
          & > span {
            font-size: vw-p(12px);
            margin-top: vw-p(12px);
          }
          & img {
            z-index: 1;
            border-radius: vw-p(12px);
          }
          &-title {
            font-size: vw-p(16px);
            top: vw-p(-28px);
            left: vw-p(124px);
            padding: vw-p(12px);
          }
        }
        &_img {
          width: vw-p(200px);
          height: vw-p(200px);
          margin-top: vw(24px);
          & > img {
            width: vw-p(200px);
            height: vw-p(200px);
            border-radius: vw-p(12px);
          }
        }
      }
    }
    .deal-title {
      margin-top: vw-p(40px);
      width: vw-p(351px);
      height: vw-p(60px);
      font-size: vw-p(20px);
      padding: vw-p(24px);
    }
    .deal-content {
      width: vw-p(351px);
      & > p {
        font-size: vw-p(16px);
        padding: vw-p(12px);
        top: vw-p(-28px);
        left: vw-p(128px);
      }
      & > span {
        width: 100%;
        font-size: vw-p(12px);
        padding: vw-p(24px);
        top: vw-p(92px);
      }
    }
    .send {
      margin-top: vw-p(40px);
      margin-bottom: vw-p(100px);
      width: vw-p(375px);
      & > button {
        height: vw-p(40px);
        width: vw-p(100px);
        font-size: vw-p(16px);
        border-radius: vw-p(12px);
      }
    }
  }
}
