#feeduser-item {
  &:nth-child(n) {
    margin-right: (38px);
    margin-bottom: (40px);
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
  .user-item {
    width: (566px);
    &-title {
      &__img {
        width: (84px);
        height: (84px);
        border-radius: 50%;
      }
      &__info {
        margin-left: (24px);
        justify-content: space-between;
        & > button {
          background-color: $MAIN_YELLOW;
          width: (112px);
          height: (40px);
          border-radius: (12px);
        }
      }
    }
    &-body {
      margin-top: (24px);
      #feed-item {
        & + #feed-item {
          margin-left: (16px);
        }
        .img-container {
          width: (178px);
          height: (142px);
          margin-top: (24px);
        }
        .item {
          &__img {
            width: (178px);
            height: (142px);
            border-radius: (24px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  #feeduser-item {
    &:nth-child(n) {
      margin-right: vw(38px);
      margin-bottom: vw(40px);
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
    .user-item {
      width: vw(566px);
      &-title {
        &__img {
          width: vw(84px);
          height: vw(84px);
          border-radius: 50%;
        }
        &__info {
          margin-left: vw(24px);
          justify-content: space-between;
          & > button {
            background-color: $MAIN_YELLOW;
            width: vw(112px);
            height: vw(40px);
            border-radius: vw(12px);
          }
        }
      }
      &-body {
        margin-top: vw(24px);
        #feed-item {
          & + #feed-item {
            margin-left: vw(16px);
          }
          .img-container {
            width: vw(178px);
            height: vw(142px);
            margin-top: vw(24px);
          }
          .item {
            &__img {
              width: vw(178px);
              height: vw(142px);
              border-radius: vw(24px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  #feeduser-item {
    &:nth-child(n) {
      margin: 0 vw-t(101px);
      margin-bottom: vw-t(40px);
    }
    .user-item {
      width: vw-t(566px);
      &-title {
        &__img {
          width: vw-t(84px);
          height: vw-t(84px);
          border-radius: 50%;
        }
        &__info {
          margin-left: vw-t(24px);
          justify-content: space-between;
          & > button {
            background-color: $MAIN_YELLOW;
            width: vw-t(112px);
            height: vw-t(40px);
            border-radius: vw-t(12px);
          }
        }
      }
      &-body {
        margin-top: vw-t(24px);
        #feed-item {
          & + #feed-item {
            margin-left: vw-t(16px);
          }
          .img-container {
            width: vw-t(178px);
            height: vw-t(142px);
            margin-top: vw-t(24px);
          }
          .item {
            &__img {
              width: vw-t(178px);
              height: vw-t(142px);
              border-radius: vw-t(24px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  #feeduser-item {
    &:nth-child(n) {
      margin: 0;
      margin-bottom: vw-p(40px);
    }
    .user-item {
      width: vw-p(365px);
      &-title {
        &__img {
          width: vw-p(84px);
          height: vw-p(84px);
          border-radius: 50%;
        }
        &__info {
          margin-left: vw-p(24px);
          justify-content: space-between;
          & > button {
            background-color: $MAIN_YELLOW;
            width: vw-p(112px);
            height: vw-p(40px);
            border-radius: vw-p(12px);
          }
        }
      }
      &-body {
        overflow-y: hidden;
        margin-top: vw-p(24px);
        #feed-item {
          & + #feed-item {
            margin-left: vw-p(16px);
          }
          .img-container {
            width: vw-p(178px);
            height: vw-p(142px);
            margin-top: vw-p(24px);
          }
          .item {
            &__img {
              width: vw-p(178px);
              height: vw-p(142px);
              border-radius: vw-p(24px);
            }
          }
        }
      }
    }
  }
}
