// #letter {
//   width: 660px;
//   height: 150px;
//   border-bottom: 1px solid $GRAY_9E;

//   .letter {
//     &__user-img {
//       margin-left: 16px;
//       margin-right: 12px;
//       width: 72px;
//       height: 72px;
//     }
//     &__user-nick-name {
//       margin-bottom: 12px;
//       font-size: 20px;
//     }
//     &__desc {
//       font-size: 24px;
//       line-height: 30px;
//       margin-right: 16px;
//       width: 472px;
//     }

//     &__time {
//       height: 56px;
//       font-size: 16px;
//       align-items: flex-end;
//     }
//   }
// }

// @media screen and (max-width: $DESKTOP-VW) {
//   #letter {
//     width: vw(660px);
//     height: vw(150px);
//     .letter {
//       &__user-img {
//         margin-left: vw(16px);
//         margin-right: vw(12px);
//         width: vw(72px);
//         height: vw(72px);
//       }
//       &__user-nick-name {
//         margin-bottom: vw(12px);
//         font-size: vw(20px);
//       }
//       &__desc {
//         font-size: vw(24px);
//         line-height: vw(30px);
//         margin-right: vw(16px);
//         width: vw(472px);
//       }

//       &__time {
//         height: vw(56px);
//         font-size: vw(16px);
//       }
//     }
//   }
// }

// @media screen and (max-width: $TABLET-VW) {
//   #letter {
//     width: vw-t(660px);
//     height: vw-t(150px);
//     .letter {
//       &__user-img {
//         margin-left: vw-t(16px);
//         margin-right: vw-t(12px);
//         width: vw-t(72px);
//         height: vw-t(72px);
//       }
//       &__user-nick-name {
//         margin-bottom: vw-t(12px);
//         font-size: vw-t(20px);
//       }
//       &__desc {
//         font-size: vw-t(24px);
//         line-height: vw-t(30px);
//         margin-right: vw-t(16px);
//         width: vw-t(472px);
//       }

//       &__time {
//         height: vw-t(56px);
//         font-size: vw-t(16px);
//       }
//     }
//   }
// }
// @media screen and (max-width: $PHONE-VW) {
//   #letter {
//     width: vw-p(329px);
//     height: vw-p(100px);
//     .letter {
//       &__user-img {
//         margin-left: vw-p(8px);
//         margin-right: vw-p(8px);
//         width: vw-p(48px);
//         height: vw-p(48px);
//       }
//       &__user-nick-name {
//         margin-bottom: vw-p(4px);
//         font-size: vw-p(12px);
//       }
//       &__desc {
//         font-size: vw-p(14px);
//         line-height: vw-p(16px);
//         margin-right: vw-p(8px);
//         width: vw-p(219px);
//       }

//       &__time {
//         height: vw-p(32px);
//         font-size: vw-p(12px);
//       }
//     }
//   }
// }
.read {
  color: $SKELETON;
  .letter__count {
    visibility: hidden;
  }
}
#letter {
  width: (329px);
  height: (100px);
  border-bottom: 1px solid $GRAY_9E;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .letter {
    &__user-img {
      margin: 0 (8px);
      width: (48px);
      height: (48px);
    }
    &__user-nick-name {
      margin-bottom: (4px);
    }
    &__desc {
      margin-right: (8px);
      width: (219px);
      line-height: (16px);
    }
    &__sub {
      height: (40px);
      justify-content: space-between;
      align-items: flex-end;
    }
    &__count {
      padding: 4px;
      width: 24px;
      border-radius: 40px;
      background-color: $SKELETON;
    }

    &__time {
      white-space: nowrap;
    }
  }
}
@media screen and (max-width: $DESKTOP-VW) {
  #letter {
    width: vw(329px);
    height: vw(100px);

    .letter {
      &__user-img {
        margin: 0 vw(8px);
        width: vw(48px);
        height: vw(48px);
      }
      &__user-nick-name {
        margin-bottom: vw(4px);
      }
      &__desc {
        margin-right: vw(8px);
        width: vw(219px);
        line-height: vw(16px);
      }
      &__sub {
        height: vw(40px);
      }
      &__count {
        padding: vw(4px);
        border-radius: vw(40px);
      }
      &__time {
      }
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  #letter {
    width: vw-t(329px);
    height: vw-t(100px);

    .letter {
      &__user-img {
        margin: 0 vw-t(8px);
        width: vw-t(48px);
        height: vw-t(48px);
      }
      &__user-nick-name {
        margin-bottom: vw-t(4px);
      }
      &__desc {
        margin-right: vw-t(8px);
        width: vw-t(219px);
        line-height: vw-t(16px);
      }

      &__sub {
        height: vw-t(40px);
      }
      &__count {
        padding: vw-t(4px);
        border-radius: vw-t(40px);
      }
      &__time {
      }
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  #letter {
    width: vw-p(329px);
    height: vw-p(100px);

    .letter {
      &__user-img {
        margin: 0 vw-p(8px);
        width: vw-p(48px);
        height: vw-p(48px);
      }
      &__user-nick-name {
        margin-bottom: vw-p(4px);
      }
      &__desc {
        margin-right: vw-p(8px);
        width: vw-p(219px);
        line-height: vw-p(16px);
      }

      &__sub {
        height: vw-p(40px);
      }
      &__count {
        padding: vw-p(4px);
        border-radius: vw-p(40px);
      }
      &__time {
      }
    }
  }
}
