#card-list {
  flex-wrap: wrap;
  #card {
    &:nth-child(n) {
      margin-right: (30px);
      margin-bottom: (40px);
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  #card-list {
    flex-wrap: wrap;
    #card {
      &:nth-child(n) {
        margin-right: vw(30px);
        margin-bottom: vw(40px);
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  #card-list {
    #card {
      &:nth-child(n) {
        margin-right: vw-t(20px);
        margin-bottom: vw-t(32px);
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  #card-list {
    #card {
      &:nth-child(n) {
        margin-right: 0;
        margin-bottom: vw-p(32px);
      }
    }
  }
}
