.login-info {
  position: relative;
  bottom: (30px);
  left: (10px);
  border-radius: (6px);
  border: (1px) solid #ccc;
  border-bottom: (2px) solid #ddd;
  float: left;
  :nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
  }
  .blank {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: (6px);
    font-size: (14px);
    font-weight: bold;
    overflow: hidden;
    background: #d95050;
  }
  .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: (35px);
    padding: (10px) (15px);
    font-size: (14px);
    font-weight: bold;
  }
  :after {
    content: "";
    position: absolute;
    margin-left: (-12px);
    left: 50%;
    bottom: (-12px);
    width: (22px);
    height: (12px);
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
  }
}
.target-info {
  position: relative;
  bottom: (30px);
  left: (10px);
  border-radius: (6px);
  border: (1px) solid #ccc;
  border-bottom: (2px) solid #ddd;
  :nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
  }
  .blank {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    border-radius: (6px);
    font-size: (14px);
    font-weight: bold;
    overflow: hidden;
    background: #5882fa;
  }
  .title {
    display: block;
    text-align: center;
    background: #fff;
    margin-right: (35px);
    padding: (10px) (15px);
    font-size: (14px);
    font-weight: bold;
  }
  :after {
    content: "";
    position: absolute;
    margin-left: (-12px);
    left: 50%;
    bottom: (-12px);
    width: (22px);
    height: (12px);
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
  }
}
#dealmap {
  .container {
    & > button {
      z-index: -1;
    }
    .map {
      position: absolute;
      left: 50%;
      top: 50%;
      .map-exit {
        width: (40px);
        height: (20px);
        position: absolute;
        z-index: 100;
        top: (-300px);
        left: (450px);
      }
      .loading-spinner {
        z-index: 100;
      }
      .map-sight {
        width: (900px);
        height: (600px);
        background-color: #fff;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 99;
      }
      .main-info {
        width: (210px);
        height: (40px);
        top: (-280px);
        right: (-420px);
        position: absolute;
        z-index: 100;
        .red-bus {
          margin-bottom: (10px);
          & > img {
            width: (40px);
            height: (40px);
          }
          & > p {
            width: (210px);
            height: (40px);
            background-color: #d95050;
            text-align: center;
            padding: (10px);
            border-radius: (12px);
            border-width: (3px);
            border-style: solid;
            border-color: #d95050;
            font-weight: bold;
            color: #fff;
            font-size: 16px;
          }
        }
        .yellow-bus {
          & > img {
            width: (40px);
            height: (40px);
          }
          & > p {
            width: (210px);
            height: (40px);
            background-color: #ffbf00;
            text-align: center;
            padding: (10px);
            border-radius: (12px);
            border-width: (3px);
            border-style: solid;
            border-color: #ffbf00;
            font-weight: bold;
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }
  }
  .dimmer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  .login-info {
    position: relative;
    bottom: vw(30px);
    left: vw(10px);
    border-radius: vw(6px);
    border: vw(1px) solid #ccc;
    border-bottom: vw(2px) solid #ddd;
    float: left;
    :nth-of-type(n) {
      border: 0;
      box-shadow: 0px 1px 2px #888;
    }
    .blank {
      display: block;
      text-decoration: none;
      color: #000;
      text-align: center;
      border-radius: vw(6px);
      font-size: vw(14px);
      font-weight: bold;
      overflow: hidden;
      background: #d95050;
    }
    .title {
      display: block;
      text-align: center;
      background: #fff;
      margin-right: vw(35px);
      padding: vw(10px) vw(15px);
      font-size: vw(14px);
      font-weight: bold;
    }
    :after {
      content: "";
      position: absolute;
      margin-left: vw(-12px);
      left: 50%;
      bottom: vw(-12px);
      width: vw(22px);
      height: vw(12px);
      background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
    }
  }
  .target-info {
    position: relative;
    bottom: vw(30px);
    left: vw(10px);
    border-radius: vw(6px);
    border: vw(1px) solid #ccc;
    border-bottom: vw(2px) solid #ddd;
    :nth-of-type(n) {
      border: 0;
      box-shadow: 0px 1px 2px #888;
    }
    .blank {
      display: block;
      text-decoration: none;
      color: #000;
      text-align: center;
      border-radius: vw(6px);
      font-size: vw(14px);
      font-weight: bold;
      overflow: hidden;
      background: #5882fa;
    }
    .title {
      display: block;
      text-align: center;
      background: #fff;
      margin-right: vw(35px);
      padding: vw(10px) vw(15px);
      font-size: vw(14px);
      font-weight: bold;
    }
    :after {
      content: "";
      position: absolute;
      margin-left: vw(-12px);
      left: 50%;
      bottom: vw(-12px);
      width: vw(22px);
      height: vw(12px);
      background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
    }
  }
  #dealmap {
    .container {
      & > button {
        z-index: -1;
      }
      .map {
        position: absolute;
        left: 50%;
        top: 50%;
        .map-exit {
          width: vw(40px);
          height: vw(20px);
          position: absolute;
          z-index: 100;
          top: vw(-300px);
          left: vw(450px);
        }
        .loading-spinner {
          z-index: 100;
        }
        .map-sight {
          width: vw(900px);
          height: vw(600px);
          background-color: #fff;
          position: absolute;
          transform: translate(-50%, -50%);
          z-index: 99;
        }
        .main-info {
          width: vw(210px);
          height: vw(40px);
          top: vw(-280px);
          right: vw(-420px);
          position: absolute;
          z-index: 100;
          .red-bus {
            margin-bottom: vw(10px);
            & > img {
              width: vw(40px);
              height: vw(40px);
            }
            & > p {
              width: vw(210px);
              height: vw(40px);
              background-color: #d95050;
              text-align: center;
              padding: vw(10px);
              border-radius: vw(12px);
              border-width: vw(3px);
              border-style: solid;
              border-color: #d95050;
              font-weight: bold;
              color: #fff;
              font-size: vw(16px);
            }
          }
          .yellow-bus {
            & > img {
              width: vw(40px);
              height: vw(40px);
            }
            & > p {
              width: vw(210px);
              height: vw(40px);
              background-color: #ffbf00;
              text-align: center;
              padding: vw(10px);
              border-radius: vw(12px);
              border-width: vw(3px);
              border-style: solid;
              border-color: #ffbf00;
              font-weight: bold;
              color: #fff;
              font-size: vw(16px);
            }
          }
        }
      }
    }
    .dimmer {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}
@media screen and (max-width: $TABLET-VW) {
  .login-info {
    position: relative;
    bottom: vw-t(30px);
    left: vw-t(10px);
    border-radius: vw-t(6px);
    border: vw-t(1px) solid #ccc;
    border-bottom: vw-t(2px) solid #ddd;
    float: left;
    :nth-of-type(n) {
      border: 0;
      box-shadow: 0px 1px 2px #888;
    }
    .blank {
      display: block;
      text-decoration: none;
      color: #000;
      text-align: center;
      border-radius: vw-t(6px);
      font-size: vw-t(14px);
      font-weight: bold;
      overflow: hidden;
      background: #d95050;
    }
    .title {
      display: block;
      text-align: center;
      background: #fff;
      margin-right: vw-t(35px);
      padding: vw-t(10px) vw-t(15px);
      font-size: vw-t(14px);
      font-weight: bold;
    }
    :after {
      content: "";
      position: absolute;
      margin-left: vw-t(-12px);
      left: 50%;
      bottom: vw-t(-12px);
      width: vw-t(22px);
      height: vw-t(12px);
      background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
    }
  }
  .target-info {
    position: relative;
    bottom: vw-t(30px);
    left: vw-t(10px);
    border-radius: vw-t(6px);
    border: vw-t(1px) solid #ccc;
    border-bottom: vw-t(2px) solid #ddd;
    :nth-of-type(n) {
      border: 0;
      box-shadow: 0px 1px 2px #888;
    }
    .blank {
      display: block;
      text-decoration: none;
      color: #000;
      text-align: center;
      border-radius: vw-t(6px);
      font-size: vw-t(14px);
      font-weight: bold;
      overflow: hidden;
      background: #5882fa;
    }
    .title {
      display: block;
      text-align: center;
      background: #fff;
      margin-right: vw-t(35px);
      padding: vw-t(10px) vw-t(15px);
      font-size: vw-t(14px);
      font-weight: bold;
    }
    :after {
      content: "";
      position: absolute;
      margin-left: vw-t(-12px);
      left: 50%;
      bottom: vw-t(-12px);
      width: vw-t(22px);
      height: vw-t(12px);
      background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
    }
  }
  #dealmap {
    .container {
      & > button {
        z-index: -1;
      }
      .map {
        position: absolute;
        left: 50%;
        top: 50%;
        .map-exit {
          width: vw-t(40px);
          height: vw-t(20px);
          position: absolute;
          z-index: 100;
          top: vw-t(-220px);
          left: vw-t(300px);
        }
        .loading-spinner {
          z-index: 100;
        }
        .map-sight {
          width: vw-t(600px);
          height: vw-t(450px);
          background-color: #fff;
          position: absolute;
          transform: translate(-50%, -50%);
          z-index: 99;
        }
        .main-info {
          width: vw-t(160px);
          height: vw-t(30px);
          top: vw-t(-210px);
          right: vw-t(-280px);
          position: absolute;
          z-index: 100;
          .red-bus {
            margin-bottom: vw-t(10px);
            & > img {
              width: vw-t(30px);
              height: vw-t(30px);
            }
            & > p {
              width: vw-t(160px);
              height: vw-t(30px);
              background-color: #d95050;
              text-align: center;
              padding: vw-t(6px);
              border-radius: vw-t(12px);
              border-width: vw-t(3px);
              border-style: solid;
              border-color: #d95050;
              font-weight: bold;
              color: #fff;
              font-size: vw-t(10px);
            }
          }
          .yellow-bus {
            & > img {
              width: vw-t(30px);
              height: vw-t(30px);
            }
            & > p {
              width: vw-t(160px);
              height: vw-t(30px);
              background-color: #ffbf00;
              text-align: center;
              padding: vw-t(6px);
              border-radius: vw-t(12px);
              border-width: vw-t(3px);
              border-style: solid;
              border-color: #ffbf00;
              font-weight: bold;
              color: #fff;
              font-size: vw-t(10px);
            }
          }
        }
      }
    }
    .dimmer {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}
@media screen and (max-width: $PHONE-VW) {
  .login-info {
    position: relative;
    bottom: vw-p(30px);
    left: vw-p(10px);
    border-radius: vw-p(6px);
    border: vw-p(1px) solid #ccc;
    border-bottom: vw-p(2px) solid #ddd;
    float: left;
    :nth-of-type(n) {
      border: 0;
      box-shadow: 0px 1px 2px #888;
    }
    .blank {
      display: block;
      text-decoration: none;
      color: #000;
      text-align: center;
      border-radius: vw-p(6px);
      font-size: vw-p(14px);
      font-weight: bold;
      overflow: hidden;
      background: #d95050;
    }
    .title {
      display: block;
      text-align: center;
      background: #fff;
      margin-right: vw-p(35px);
      padding: vw-p(10px) vw-p(15px);
      font-size: vw-p(14px);
      font-weight: bold;
    }
    :after {
      content: "";
      position: absolute;
      margin-left: vw-p(-12px);
      left: 50%;
      bottom: vw-p(-12px);
      width: vw-p(22px);
      height: vw-p(12px);
      background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
    }
  }
  .target-info {
    position: relative;
    bottom: vw-p(30px);
    left: vw-p(10px);
    border-radius: vw-p(6px);
    border: vw-p(1px) solid #ccc;
    border-bottom: vw-p(2px) solid #ddd;
    :nth-of-type(n) {
      border: 0;
      box-shadow: 0px 1px 2px #888;
    }
    .blank {
      display: block;
      text-decoration: none;
      color: #000;
      text-align: center;
      border-radius: vw-p(6px);
      font-size: vw-p(14px);
      font-weight: bold;
      overflow: hidden;
      background: #5882fa;
    }
    .title {
      display: block;
      text-align: center;
      background: #fff;
      margin-right: vw-p(35px);
      padding: vw-p(10px) vw-p(15px);
      font-size: vw-p(14px);
      font-weight: bold;
    }
    :after {
      content: "";
      position: absolute;
      margin-left: vw-p(-12px);
      left: 50%;
      bottom: vw-p(-12px);
      width: vw-p(22px);
      height: vw-p(12px);
      background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
    }
  }
  #dealmap {
    .container {
      & > button {
        z-index: -1;
      }
      .map {
        position: absolute;
        left: 50%;
        top: 50%;
        .map-exit {
          width: vw-p(40px);
          height: vw-p(20px);
          position: absolute;
          z-index: 100;
          top: vw-p(-185px);
          left: vw-p(160px);
        }
        .loading-spinner {
          z-index: 100;
        }
        .map-sight {
          width: vw-p(360px);
          height: vw-p(360px);
          background-color: #fff;
          position: absolute;
          transform: translate(-50%, -50%);
          z-index: 99;
        }
        .main-info {
          width: vw-p(140px);
          height: vw-p(20px);
          top: vw-p(-170px);
          right: vw-p(-170px);
          position: absolute;
          z-index: 100;
          .red-bus {
            margin-bottom: vw-p(5px);
            & > img {
              width: vw-p(20px);
              height: vw-p(20px);
            }
            & > p {
              width: vw-p(140px);
              height: vw-p(20px);
              background-color: #d95050;
              text-align: center;
              padding: vw-p(3px);
              border-radius: vw-p(12px);
              border-width: vw-p(3px);
              border-style: solid;
              border-color: #d95050;
              font-weight: bold;
              color: #fff;
              font-size: vw-t(5px);
            }
          }
          .yellow-bus {
            & > img {
              width: vw-p(20px);
              height: vw-p(20px);
            }
            & > p {
              width: vw-p(140px);
              height: vw-p(20px);
              background-color: #ffbf00;
              text-align: center;
              padding: vw-p(3px);
              border-radius: vw-p(12px);
              border-width: vw-p(3px);
              border-style: solid;
              border-color: #ffbf00;
              font-weight: bold;
              color: #fff;
              font-size: vw-t(5px);
            }
          }
        }
      }
    }
    .dimmer {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
    }
  }
}
