#tip-detail-page {
  .hide {
    visibility: hidden;
  }
  .article {
    padding: (24px);
    margin-top: (24px);
    width: (570px);
    .title {
      font-size: (24px);
      line-height: (32px);
    }
    .header {
      margin-top: (12px);
      height: (80px);
      border-bottom: solid 2px #d9d9d9;
      padding: (8px);
      &-info {
        & * {
          margin-right: (8px);
        }
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 70%;
        &__img-container {
          align-items: center;
          & > img {
            width: (40px);
            height: (40px);
            border-radius: 100%;
          }
        }
        &__text {
          justify-content: center;
          align-items: flex-start;
          height: 100%;
          .user-name {
            font-size: (16px);
          }
          .created {
            font-size: (8px);
            color: #666;
            margin-top: (12px);
          }
        }
        &__btn {
          background-color: $MAIN_YELLOW;
          padding: (8px);
          font-size: (12px);
          width: (88px);
          height: (32px);
          border-radius: (12px);
          line-height: (4px);
        }
      }
      &-func {
        width: 30%;
        justify-content: space-evenly;
        & img {
          width: (24px);
          height: (24px);
        }
        &-btn {
          width: 100%;
          justify-content: flex-end;
          align-items: center;
          & > button {
            width: 30%;
          }
        }
      }
    }
    .body {
      margin-top: (24px);
      & * {
        font-family: "NotoSansRegular";
        margin-bottom: (24px);
        font-size: (16px);
      }
      justify-content: center;
      &-content {
        width: (400px);
        & img {
          border-radius: (12px);
          width: (400px);
          height: (400px);
        }
      }
    }
    .comment {
      margin-top: (24px);
      border-top: solid 2px #d9d9d9;
      &-head {
        & > p {
          margin-top: (12px);
          font-size: (20px);
        }
        & span {
          margin-left: (12px);
          color: $MAIN_YELLOW;
        }
      }
      &-input {
        align-items: center;
        justify-content: space-between;
        margin-top: (24px);
        & > input {
          width: 80%;
          height: (36px);
          border: solid 2px #d9d9d9;
          border-radius: (12px);
          padding-left: (12px);
          font-size: (12px);
          &:focus {
            box-shadow: none;
          }
          &::placeholder {
            font-size: (12px);
          }
        }
        .input-img-container {
          width: 20%;
          justify-content: center;
          align-items: center;
          & > img {
            width: (40px);
            height: (40px);
          }
        }
      }
      &-component {
        margin-top: (24px);
        background-color: #666;
        width: 100%;
        height: (200px);
      }
    }
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  #tip-detail-page {
    .article {
      margin-top: vw(24px);
      width: vw(570px);
      .title {
        font-size: vw(24px);
        line-height: vw(32px);
      }
      .header {
        margin-top: vw(12px);
        height: vw(80px);
        padding: vw(8px);
        &-info {
          & * {
            margin-right: vw(8px);
          }
          height: 100%;
          width: 70%;
          &__img-container {
            & > img {
              width: vw(40px);
              height: vw(40px);
              border-radius: 100%;
            }
          }
          &__text {
            height: 100%;
            .user-name {
              font-size: vw(16px);
            }
            .created {
              font-size: vw(8px);
              margin-top: vw(12px);
            }
          }
          &__btn {
            background-color: $MAIN_YELLOW;
            padding: vw(8px);
            font-size: vw(12px);
            width: vw(88px);
            height: vw(32px);
            border-radius: vw(12px);
            line-height: vw(4px);
          }
        }
        &-func {
          width: 30%;
          justify-content: space-evenly;
          & img {
            width: vw(24px);
            height: vw(24px);
          }
          &-btn {
            width: 100%;
          }
        }
      }
      .body {
        margin-top: vw(24px);
        & * {
          font-family: "NotoSansRegular";
          margin-bottom: vw(24px);
          font-size: vw(16px);
        }
        &-content {
          width: vw(400px);
          & img {
            width: vw(400px);
            height: vw(400px);
          }
        }
      }
      .comment {
        &-head {
          & > p {
            margin-top: vw(12px);
            font-size: vw(20px);
          }
          & span {
            margin-left: vw(12px);
            color: $MAIN_YELLOW;
          }
        }
        &-input {
          margin-top: vw(24px);
          & > input {
            width: 80%;
            height: vw(36px);
            border-radius: vw(12px);
            padding-left: vw(12px);
            font-size: vw(12px);
          }
          &::placeholder {
            font-size: vw(12px);
          }
          .input-img-container {
            width: 20%;
            & > img {
              width: vw(40px);
              height: vw(40px);
            }
          }
        }
        &-component {
          margin-top: vw(24px);
          background-color: #666;
          width: 100%;
          height: vw(200px);
        }
      }
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  #tip-detail-page {
    .article {
      margin-top: vw-t(18px);
      width: vw-t(468px);
      .title {
        font-size: vw-t(24px);
        line-height: vw-t(36px);
      }
      .header {
        margin-top: vw-t(0px);
        height: vw-t(100px);
        padding: vw-t(12px);
        & * {
          margin-right: vw-t(4px);
        }
        &-info {
          height: 100%;
          width: 80%;
          &__img-container {
            & > img {
              width: vw-t(40px);
              height: vw-t(40px);
              border-radius: 100%;
            }
          }
          &__text {
            height: 100%;
            .user-name {
              font-size: vw-t(16px);
            }
            .created {
              font-size: vw-t(8px);
              color: #666;
              margin-top: vw-t(12px);
            }
          }
          &__btn {
            padding: vw-t(0px);
            font-size: vw-t(12px);
            width: vw-t(92px);
            height: vw-t(32px);
            border-radius: vw-t(12px);
            line-height: vw-t(4px);
          }
        }
        &-func {
          width: 20%;
          & img {
            width: vw-t(24px);
            height: vw-t(24px);
          }
          &-btn {
            width: 100%;
            & > button {
              width: 50%;
            }
          }
        }
      }
      .body {
        margin-top: vw-t(24px);
        & * {
          margin-bottom: vw-t(24px);
          font-size: vw-t(12px);
        }
        justify-content: center;
        &-content {
          width: vw-t(400px);
          & img {
            border-radius: vw-t(12px);
            margin-bottom: 0;
            width: vw-t(400px);
            height: vw-t(400px);
          }
        }
      }
      .comment {
        margin-top: vw-t(20px);
        &-head {
          & > p {
            margin-top: vw-t(12px);
            font-size: vw-t(24px);
          }
          & span {
            margin-left: vw-t(12px);
          }
        }
        &-input {
          margin-top: vw-t(24px);
          & > input {
            width: 80%;
            height: vw-t(36px);
            border-radius: vw-t(12px);
            padding-left: vw-t(12px);
            font-size: vw-t(12px);
            &::placeholder {
              font-size: vw-t(12px);
            }
          }
          .input-img-container {
            width: 20%;
            & > img {
              width: vw-t(40px);
              height: vw-t(40px);
            }
          }
        }
        &-component {
          margin-top: vw-t(24px);
          width: 100%;
          height: vw-t(400px);
        }
      }
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  #tip-detail-page {
    .article {
      margin-top: vw-p(12px);
      width: 100%;
      height: vw-p(1600px);
      .title {
        padding-left: vw-p(12px);
        padding-right: vw-p(12px);
        font-size: vw-p(20px);
        line-height: vw-p(36px);
      }
      .header {
        padding-left: vw-p(12px);
        padding-right: vw-p(12px);
        margin-top: vw-p(0px);
        height: vw-p(80px);
        & * {
          margin-right: vw-p(4px);
        }
        &-info {
          height: 100%;
          width: 80%;
          &__img-container {
            & > img {
              width: vw-p(36px);
              height: vw-p(36px);
              border-radius: 100%;
            }
          }
          &__text {
            height: 100%;
            .user-name {
              font-size: vw-p(12px);
            }
            .created {
              font-size: vw-p(8px);
              color: #666;
              margin-top: vw-p(12px);
            }
          }
          &__btn {
            background-color: $MAIN_YELLOW;
            margin-left: vw-p(12px);
            padding: vw-p(8px);
            font-size: vw-p(12px);
            width: vw-p(80px);
            height: vw-p(24px);
            border-radius: vw-p(8px);
            line-height: vw-p(4px);
          }
        }
        &-func {
          width: 20%;
          justify-content: flex-end;
          & img {
            width: vw-p(24px);
            height: vw-p(24px);
          }
          &-btn {
            width: 100%;
            & > button {
              width: 50%;
            }
          }
        }
      }
      .body {
        margin-top: vw-p(24px);
        & * {
          font-family: "NotoSansRegular";
          margin-bottom: vw-p(24px);
          font-size: vw-p(12px);
        }
        justify-content: center;
        &-content {
          width: vw-p(300px);
          & img {
            border-radius: vw-p(12px);
            margin-bottom: 0;
            width: vw-p(300px);
            height: vw-p(300px);
          }
        }
      }
      .comment {
        margin-top: vw-p(24px);
        &-head {
          margin-left: (12px);
          margin-right: (12px);
          & > p {
            margin-top: vw-p(24px);
            font-size: vw-p(16px);
          }
          & span {
            margin-left: vw-p(12px);
            color: $MAIN_YELLOW;
          }
        }
        &-input {
          margin-left: (12px);
          margin-right: (12px);
          align-items: center;
          justify-content: space-between;
          margin-top: vw-p(24px);
          & > input {
            font-size: (12px);
            width: 80%;
            height: vw-p(36px);
            border-radius: vw-p(12px);
            padding-left: vw-p(8px);
            &:focus {
              box-shadow: none;
            }
          }
          .input-img-container {
            width: 20%;
            justify-content: center;
            align-items: center;
            & > img {
              width: vw-p(36px);
              height: vw-p(36px);
            }
          }
        }
        &-component {
          margin-top: vw-p(24px);
          background-color: #666;
          width: 100%;
          height: vw-p(400px);
        }
      }
    }
  }
}
