#profile-tool-tip {
  color: $BLACK;
  border-radius: (4px);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  &::before {
    content: "";
    position: absolute;
    border-bottom: (20px) solid $HEADER_TOOLTIP;
    border-right: (10px) solid transparent;
    border-left: (10px) solid transparent;
    top: (-19px);
    left: (65px);
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: (150px);
    height: (54px);
    background-color: $HEADER_TOOLTIP;
  }
}

@media screen and (max-width: $DESKTOP-VW) {
  #profile-tool-tip {
    color: $BLACK;
    border-radius: vw(4px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    &::before {
      content: "";
      position: absolute;
      border-bottom: vw(20px) solid $HEADER_TOOLTIP;
      border-right: vw(10px) solid transparent;
      border-left: vw(10px) solid transparent;
      top: vw(-19px);
      left: vw(65px);
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: vw(150px);
      height: vw(54px);
      background-color: $HEADER_TOOLTIP;
    }
  }
}

@media screen and (max-width: $TABLET-VW) {
  #profile-tool-tip {
    border-radius: vw-t(4px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    &::before {
      border-bottom: vw-t(20px) solid $HEADER_TOOLTIP;
      border-right: vw-t(10px) solid transparent;
      border-left: vw-t(10px) solid transparent;
      top: vw-t(-19px);
      left: vw-t(65px);
    }
    .content {
      width: vw-t(150px);
      height: vw-t(54px);
    }
  }
}

@media screen and (max-width: $PHONE-VW) {
  #profile-tool-tip {
    border-radius: vw-p(4px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    &::before {
      border-bottom: vw-p(20px) solid $HEADER_TOOLTIP;
      border-right: vw-p(10px) solid transparent;
      border-left: vw-p(10px) solid transparent;
      top: vw-p(-19px);
      left: vw-p(65px);
    }
    .content {
      width: vw-p(150px);
      height: vw-p(54px);
    }
  }
}
