// colors

// main colors
$BLACK: #000000;
$WHITE: #ffffff;
$MAIN_YELLOW: #fdda30;
$MAIN_BROWN: #d77d20;
$MAIN_GRAY: #9c9c9c;
$SKELTON: #d9d9d9;
// social colors
$KAKAO-YELLOW: #ffeb00;
$KAKAO-BROWN: #3c1e1e;
$NAVER: #03c75a;

// alert colors
$RED: #ff1616;
$BLUE: #0038ff;

//임시 변수
$HEADER_TOOLTIP: #fffacd;
